.card {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    align-self: center;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

    transition: all 0.25s ease;
}

.fullCard {
    max-width: unset;
}

.card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin: unset;
    cursor: pointer;
}

.title:hover {
    color: #7777779e;
}

.subtitle {
    font-size: 13px;
    color: #777;
    margin: unset;
}

/* Status */
.statusWrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.statusDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.online {
    background: #22c55e;
}

.offline {
    background: #9ca3af;
}

.statusText {
    font-size: 12px;
    color: #666;
}

/* Sections */
.section {
    margin-bottom: 16px;
}

.label {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 6px;
}

/* IP list */
.ipList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ip {
    font-family: monospace;
    font-size: 13px;
    background: #f3f4f6;
    padding: 4px 8px;
    border-radius: 8px;
    width: fit-content;
    color: #333;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.infoLabel {
    font-size: 11px;
    color: #aaa;
}

.infoValue {
    font-size: 13px;
    color: #222;
    min-height: 32px;
}

/* Actions */
.actions {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

/* Details */
.details {
    margin-top: 16px;
}

.summary {
    font-size: 13px;
    color: #666;
    cursor: pointer;
}

.summary:hover {
    color: #111;
}

.keys {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 11px;
    font-family: monospace;
    color: #555;
    word-break: break-all;
}

.keyItem {
}

.keyLabel {
    color: #999;
}

/* Actions */
.actions {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}
